<nav class="sidebar" data-color="purple" data-background-color="black">
    <div class="logo">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-mini">AL</a>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-normal">AIM LAB</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" id="navItemDashboard">
                <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard</p>
                </a>
            </li>
            <li class="nav-item" id="navItemEquipment">
                <a class="nav-link" asp-area="Equipment" asp-controller="Equipment" asp-action="Index">
                    <i class="fas fa-cubes"></i>
                    <p> Equipment</p>
                </a>
            </li>
            <li class="nav-item" id="navItemLoans">
                <a class="nav-link" asp-area="Loan" asp-controller="Loan" asp-action="Index">
                    <i class="fas fa-file-contract"></i>
                    <p> Loans</p>
                </a>
            </li>
            <li class="nav-item" id="navItemReports">
                <a class="nav-link" data-toggle="collapse" href="#navCollapseReports">
                    <i class="material-icons">analytics</i>
                    <p> Reports <b class="caret"></b></p>
                </a>
                <div class="collapse" id="navCollapseReports">
                    <ul class="nav">
                        <li id="navItemReportLabInventory" class="nav-item">
                            <a class="nav-link" asp-area="Report" asp-controller="Report" asp-action="EquipmentValueReport">
                                <span class="sidebar-mini"> LI </span>
                                <span class="sidebar-normal"> Lab Inventory </span>
                            </a>
                        </li>
                        <li id="navItemReportHistoricLoans" class="nav-item">
                            <a class="nav-link" asp-area="Report" asp-controller="Report" asp-action="LoanHistoryReport">
                                <span class="sidebar-mini"> HL </span>
                                <span class="sidebar-normal"> Historic Loans </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" id="navItemEmails">
                <a class="nav-link" data-toggle="collapse" href="#navCollapseEmails">
                    <i class="fas fa-envelope"></i>
                    <p> Emails <b class="caret"></b></p>
                </a>
                <div class="collapse" id="navCollapseEmails">
                    <ul class="nav">
                        <li id="navItemEmailTemplates" class="nav-item">
                            <a class="nav-link" asp-area="Email" asp-controller="EmailTemplate" asp-action="Index">
                                <span class="sidebar-mini"> ET </span>
                                <span class="sidebar-normal"> Email Templates </span>
                            </a>
                        </li>
                        <li id="navItemEmailSchedules" class="nav-item">
                            <a class="nav-link" asp-area="Email" asp-controller="EmailSchedule" asp-action="Index">
                                <span class="sidebar-mini"> SE </span>
                                <span class="sidebar-normal"> Email Schedules </span>
                            </a>
                        </li>
                        <li id="navItemEmailLogs" class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="sidebar-mini"> EL </span>
                                <span class="sidebar-normal"> Email Logs </span>
                            </a>
                        </li>
                        <li id="navItemEmailTest" class="nav-item">
                            <a class="nav-link" asp-area="Email" asp-controller="EmailTest" asp-action="Index">
                                <span class="sidebar-mini"> ET </span>
                                <span class="sidebar-normal"> Email Testing (Dev)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" id="navItemAdmin">
                <a class="nav-link" data-toggle="collapse" href="#navCollapseAdmin">
                    <i class="material-icons">groups</i>
                    <p> Admin <b class="caret"></b></p>
                </a>
                <div class="collapse" id="navCollapseAdmin">
                    <ul class="nav">
                        <li class="nav-item" id="navItemUserManagement">
                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                                <span class="sidebar-mini"> US </span>
                                <span class="sidebar-normal"> Users </span>
                            </a>
                        </li>
                        <li class="nav-item" id="navItemPermissions">
                            <a class="nav-link" asp-area="Admin" asp-controller="Permission" asp-action="Index">
                                <span class="sidebar-mini"> PE </span>
                                <span class="sidebar-normal"> Permissions </span>
                            </a>
                        </li>
                        <li class="nav-item" id="navItemBlacklists">
                            <a class="nav-link" asp-area="Admin" asp-controller="Blacklist" asp-action="Index">
                                <span class="sidebar-mini"> BL </span>
                                <span class="sidebar-normal"> Blacklists </span>
                            </a>
                        </li>
                        <li class="nav-item" id="navItemConfigurations">
                            <a class="nav-link" asp-area="Admin" asp-controller="Configuration" asp-action="Index">
                                <span class="sidebar-mini"> CO </span>
                                <span class="sidebar-normal"> Configurations </span>
                            </a>
                        </li>
                        <li class="nav-item" id="navItemJobs">
                            <a class="nav-link" asp-area="Admin" asp-controller="Job" asp-action="Index">
                                <span class="sidebar-mini"> JO </span>
                                <span class="sidebar-normal"> Job Scheduler </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>