<nav class="sidebar" data-color="purple" data-background-color="black">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">ELMS</a>
        <a href="#" class="simple-text logo-normal">JOHNNY LE</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-cubes"></i>
                    <p> Equipment</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="material-icons">compare_arrows</i>
                    <p> Loans</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="material-icons">analytics</i>
                    <p> Reports</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="material-icons">email</i>
                    <p> Emails</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#navUsers">
                    <i class="material-icons">groups</i>
                    <p> Users <b class="caret"></b></p>
                </a>
                <div class="collapse" id="navUsers">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="sidebar-mini"> UM </span>
                                <span class="sidebar-normal"> User Management </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="material-icons">analytics</i>
                                <p> Roles and Permissions</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="material-icons">analytics</i>
                                <p> Blacklists</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>
    </div>
</nav>