<nav class="sidebar" data-color="purple" data-background-color="black">
    <div class="logo">
        <a href="#" class="simple-text logo-mini">AL</a>
        <a href="#" class="simple-text logo-normal">AIM LAB</a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" id="navItemDashboard">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="material-icons">dashboard</i>
                    <p> Dashboard</p>
                </a>
            </li>
            <li class="nav-item" id="navItemEquipment">
                <a class="nav-link" asp-area="Equipment" asp-controller="Equipment" asp-action="Index">
                    <i class="fas fa-cubes"></i>
                    <p> Equipment</p>
                </a>
            </li>
            <li class="nav-item" id="navItemLoans">
                <a class="nav-link" asp-area="Loan" asp-controller="Loan" asp-action="Index">
                    <i class="fas fa-file-signature"></i>
                    <p> Loans</p>
                </a>
            </li>
            <li class="nav-item" id="navItemReports">
                <a href="#" class="nav-link">
                    <i class="material-icons">analytics</i>
                    <p> Reports</p>
                </a>
            </li>
            <li class="nav-item" id="navItemEmails">
                <a class="nav-link" data-toggle="collapse" href="#navEmails">
                    <i class="fas fa-envelope"></i>
                    <p> Emails <b class="caret"></b></p>
                </a>
                <div class="collapse" id="navEmails">
                    <ul class="nav">
                        <li id="navItemEmailTemplates" class="nav-item">
                            <a class="nav-link" asp-area="Email" asp-controller="EmailTemplate" asp-action="Index">
                                <span class="sidebar-mini"> ET </span>
                                <span class="sidebar-normal"> Email Templates </span>
                            </a>
                        </li>
                        <li id="navItemEmailSchedules" class="nav-item">
                            <a class="nav-link" asp-area="Email" asp-controller="EmailSchedule" asp-action="Index">
                                <span class="sidebar-mini"> SE </span>
                                <span class="sidebar-normal"> Email Schedules </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="sidebar-mini"> EL </span>
                                <span class="sidebar-normal"> Email Logs </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" id="navItemUsers">
                <a class="nav-link" data-toggle="collapse" href="#navUsers">
                    <i class="material-icons">groups</i>
                    <p> Users <b class="caret"></b></p>
                </a>
                <div class="collapse" id="navUsers">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="sidebar-mini"> UM </span>
                                <span class="sidebar-normal"> User Management </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="sidebar-mini"> RP </span>
                                <span class="sidebar-normal"> Roles and Permissions </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <span class="sidebar-mini"> RP </span>
                                <span class="sidebar-normal"> Blacklists </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>