<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <partial name="Imports/Links/_MainImport"/>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="wrapper">
            <partial name="Components/_Navigation" />
            <div class="main-panel">
                <partial name="Components/_Header" />
                <div class="content pt-0">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
                <partial name="Components/_Footer" />
            </div>
    </div>
    }
    else
    {
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <partial name="Components/_Footer" />
    }



    <div aria-hidden="true" aria-labelledby="modal-crud-label" role="dialog" tabindex="-1" id="modalRoot" class="modal fade">
        <div id="modalDialog" class="modal-dialog">
        </div>
    </div>

    <partial name="Imports/Scripts/_MaterialDashboardScripts" />
    <partial name="Imports/Scripts/_MainScripts" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>