@model ELMS.WEB.Areas.Email.Models.EmailTemplate.EmailTemplateViewModel

@{
    ViewData["Title"] = "Edit email template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-3">
    <div class="row">
        <a class="btn btn-outline-primary w-100" asp-area="Email" asp-controller="EmailTemplate" asp-action="Index"><i class="fas fa-backward mr-2"></i> Back to Email Templates</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
            </div>
        </div>
    </div>
</div>

<form asp-area="Email" asp-controller="EmailTemplate" asp-action="Edit">
    <div class="container-fluid">
        <div class="row">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Enter details</h3>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" class="form-control" asp-for="UID" />
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-3">
                            <label asp-for="Name"></label>
                            <input type="text" class="form-control" asp-for="Name" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <label asp-for="Subject"></label>
                            <input type="text" class="form-control" asp-for="Subject" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <label asp-for="Header"></label>
                            <input type="text" class="form-control" asp-for="Header" />
                        </div>
                        <div class="form-group col-sm-12 col-md-3">
                            <label asp-for="Subheader"></label>
                            <input type="text" class="form-control" asp-for="Subheader" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label class="w-100" asp-for="TemplateType"></label>
                            <select class="selectpicker" data-width="100%" data-style="select-with-transition" asp-for="TemplateType" asp-items="Html.GetEnumSelectList<ELMS.WEB.Enums.Email.EmailTemplateType>()">
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-sm-12">
                            <label asp-for="Body" class="d-block"></label>
                            <textarea class="tinymce w-100" cols="3" asp-for="Body"></textarea>
                        </div>
                        <div class="form-group col-sm-12">
                            <label asp-for="Footer" class="d-block"></label>
                            <textarea class="tinymce w-100" cols="3" asp-for="Footer"></textarea>
                        </div>
                    </div>
                </div>
                <div class="card-footer justify-content-end">
                    <button type="submit" class="btn btn-primary">Update Email Template</button>
                </div>
            </div>
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Example Preview</h3>
                </div>
                <div class="card-body">
                    <img class="w-100" src="~/resource/images/custom_email_template_example.JPG" />
                </div>
            </div>
        </div>
    </div>
</form>