@model ELMS.WEB.Areas.Admin.Models.Configuration.UpdateConfigurationViewModel
@using ELMS.WEB.Enums.Configuration

<div class="modal-content">
    <div class="modal-header d-flex align-content-center">
        <div><h2 class="modal-title text-left font-weight-bold">Edit Configuration</h2></div>
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times-circle 2x"></i>
            </button>
        </div>
    </div>
    <form id="formConfiguration" class="formConfiguration" asp-area="Admin" asp-controller="Configuration" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="modal-body">
            <p>Configurations should only be used by developers and/or certain admins. </p>
            <p>Please ensure that you are aware of what a configuration is and how it can affect the application.</p>
            <br />
            <input type="hidden" asp-for="UID"/>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Value"></label>
                <input class="form-control" asp-for="Value" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update Details</button>
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>

<script>
    $('.selectpicker').selectpicker();
</script>