@model ELMS.WEB.Areas.Admin.Models.Configuration.CreateConfigurationViewModel
@using ELMS.WEB.Enums.Configuration

@{
    ViewData["Title"] = "Create Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mb-2">
    <div class="row">
        <a class="btn btn-outline-primary w-100" asp-area="Admin" asp-controller="Configuration" asp-action="Index"><i class="fas fa-backward mr-2"></i> Back to Configurations</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <p class="text-danger mb-0">Configurations should only be used by developers and authorised admins.</p>
                <p class="text-danger">Please ensure that you are aware of what a configuration is and how it can affect the application.</p>
            </div>
        </div>
    </div>
</div>

<form asp-area="Admin" asp-controller="Configuration" asp-action="Create" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <div class="card mb-0">
                <div class="card-header">
                    <h3 class="card-title">Enter configuration details</h3>
                </div>
                <div class="card-body pt-0">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <br />
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input type="text" class="form-control" asp-for="Name" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Value"></label>
                        <textarea class="form-control" asp-for="Value"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <select class="form-control selectpicker" data-style="btn btn-link" asp-for="Type" asp-items="@Html.GetEnumSelectList<ConfigurationType>()"></select>
                    </div>
                </div>
                <div class="card-footer justify-content-end">
                    <button type="submit" class="btn btn-success col-sm-12 col-md-2">@ViewData["Title"]</button>
                </div>
            </div>
        </div>
    </div>
</form>