@model ELMS.WEB.Areas.Admin.Models.Permission.IndexViewModel

@{
    ViewData["Title"] = "Permission Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="card mt-2">
            <div class="card-header pb-0">
                <h4 class="card-title">All Permissions</h4>
                <p class="category mb-0">Each permission provides access for a user to perform a certain action or access to a resource.</p>
            </div>
            <div class="card-body pt-0">
                <div id="accordion" role="tablist">
                    @foreach (string modelType in Enum.GetNames(typeof(ELMS.WEB.Enums.ModelsEnum)))
                    {
                        <div class="card card-collapse">
                            <div class="card-header" role="tab" id="heading@(modelType)">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapse@(modelType)" aria-expanded="false" aria-controls="collapse@(modelType)">
                                        @(modelType) Permissions
                                        <i class="material-icons">keyboard_arrow_down</i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapse@(modelType)" class="collapse" role="tabpanel" aria-labelledby="heading@(modelType)" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        @foreach (var permission in Model.Claims.Where(x => x.Type.ToUpper().Contains(modelType.ToUpper())))
                                        {
                                            <li class="list-group-item border p-2 mb-2">@permission.Type</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#navItemAdmin').addClass('active');
            $('#navCollapseAdmin').addClass('show');
            $('#navItemPermissions').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}