@model ELMS.WEB.Areas.Admin.Models.Blacklist.DetailsModalViewModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><strong>Historic Blacklists</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="display table-blacklists datatable responsive hover compact w-100">
            <thead>
                <tr>
                    <th class="th-description">Created on</th>
                    <th class="th-description">Active</th>
                    <th class="th-description">Type</th>
                    <th class="th-description">Reason</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blacklist in Model.Blacklists)
                {
                    <tr>
                        <td class="td-name">@blacklist.CreatedTimestamp.ToShortDateString()</td>
                        <td class="td-name">
                            <partial name="Components/_BooleanIcon" model="@blacklist.Active" />
                        </td>
                        <td class="td-name">@blacklist.Type.ToString()</td>
                        <td class="td-name">@blacklist.Reason</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary w-100" href="#">View Details Page</a>
    </div>
</div>

<script>
    $('.table-blacklists').DataTable({
        searching: false,
        paging: false,
        info: false
    });
</script>