@model ELMS.WEB.Areas.Admin.Models.Blacklist.UpdateViewModel

<div class="modal-content">
    <div class="modal-header d-flex align-content-center">
        <div><h2 class="modal-title text-left font-weight-bold">Edit Blacklist</h2></div>
        <div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times-circle 2x"></i>
            </button>
        </div>
    </div>
    <form id="formBlacklist" class="formBlacklist" asp-area="Admin" asp-controller="Blacklist" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="UID" />
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email" />
            </div>
            <div class="form-group pb-0">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" asp-for="Active">
                        Active
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <select class="col-12 p-1 mb-2" data-style="btn btn-link" asp-for="Type" asp-items="Html.GetEnumSelectList<ELMS.WEB.Enums.Admin.BlacklistTypeEnum>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Reason"></label>
                <textarea class="form-control" asp-for="Reason"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Update details</button>
            <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </form>
</div>