@page "/Account/ConfirmEmail"
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<partial name="Components/_DefaultHeader" />
<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-3"><strong>Your email has been confirmed</strong></h1>
        <div class="col-md-12 text-center">
            <p>Your account has been authenticated. Return back to the login screen to log into your account.</p>
            <p>If you are still experiencing any issues with accessing the system, please contact the AIM Lab director Joanna Lumsden <a href="mailto:j.lumsden@aston.ac.uk"></a></p>
            <a class="btn btn-primary" href="/">Return to Home</a>
        </div>
    </div>
</div>