@page "/Account/RegisterConfirmation"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<partial name="Components/_DefaultHeader" />
<div class="container">
    <div class="row justify-content-center">
        <h1 class="display-3"><strong>@ViewData["Title"]</strong></h1>
        <div class="col-md-12 text-center">
            @{
                <p>A confirmation link has been sent to the email you provided. The email provider must check the email and click on the authentication link to confirm their account.</p>
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>You could also confirm the email directly by clicking on this link which will immediately confirm the account: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm the account</a></p>
                }
            }
        </div>
    </div>
</div>