@model ELMS.WEB.Areas.Email.Models.EmailSchedule.EmailScheduleViewModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><strong>Delete Email Schedule</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>You are making an irreversible change to delete an email template.</div>
        <ul class="list-group rounded-0 mt-3">
            <li class="list-group-item border my-1"><strong>Email Template: </strong><span>@Model.EmailTemplate.Name</span></li>
            <li class="list-group-item border my-1"><strong>Recipient Email Address: </strong><span>@Model.RecipientEmailAddress</span></li>
            <li class="list-group-item border my-1"><strong>Scheduled For: </strong><span>@Model.SendTimestamp</span></li>
            <li class="list-group-item border my-1"><strong>Status: </strong><span>@Model.Status</span></li>
        </ul>
    </div>
    <div class="modal-footer">
        <form id="formDelete" asp-area="Email" asp-controller="EmailSchedule" asp-action="Delete">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UID" />
            <button type="submit" class="btn btn-danger">Yes, I want to delete the email schedule</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </form>
    </div>
</div>