@model ELMS.WEB.Areas.Admin.Models.Job.IndexViewModel

@{
    ViewData["Title"] = "Job Configuration Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <p>Start, trigger and run background tasks/jobs automatically.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div id="accordion" role="tablist">
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Job Scheduling for Equipment
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                @if (Model.JobRunningStatuses.IsEquipmentJobRunning)
                                {
                                    <a class="btn btn-primary disabled" href="#">Already Triggered</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Job" asp-action="StartEquipmentJob">Trigger Scheduler</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Job Scheduling for Loans
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                @if (Model.JobRunningStatuses.IsLoanJobRunning)
                                {
                                    <a class="btn btn-primary disabled" href="#">Already Triggered</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Job" asp-action="StartLoanJob">Trigger Scheduler</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card card-collapse">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Job Scheduling for Emails
                                    <i class="material-icons">keyboard_arrow_down</i>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                @if (Model.JobRunningStatuses.IsEmailJobRunning)
                                {
                                    <a class="btn btn-primary disabled" href="#">Already Triggered</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Job" asp-action="StartEmailJob">Trigger Scheduler</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#navItemAdmin').addClass('active');
            $('#navCollapseAdmin').addClass('show');
            $('#navItemJobs').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}