@model ELMS.WEB.Areas.Admin.Models.Job.IndexViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Job Scheduler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>@ViewData["Title"]</strong></h1>
                <p>Start, trigger and run background tasks/jobs automatically.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <table class="display table datatable-no-options responsive hover compact" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td class="th-description">Scheduler Name</td>
                            <td class="th-description">Description</td>
                            <td class="th-description">Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-name">Equipment Scheduler</td>
                            <td class="td-name">No description provided.</td>
                            <td class="td-name">
                                @if (!(await AuthorizationService.AuthorizeAsync(User, "RunJobSchedulerPolicy")).Succeeded)
                                {
                                    if (Model.JobRunningStatuses.IsEquipmentJobRunning)
                                    {
                                        <a class="btn btn-primary text-white disabled"><i class="fas fa-play-circle mr-2"></i> Trigger Scheduler</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary disabled" href="#"><i class="fas fa-spinner mr-2 spinner"></i>Scheduler Running</a>
                                    }

                                    <p class="m-0">You do not have permission to interact with this scheduler. Please, speak to an Admin.</p>
                                }
                                else
                                {
                                    @if (Model.JobRunningStatuses.IsEquipmentJobRunning)
                                    {
                                        <a class="btn btn-primary disabled" href="#"><i class="fas fa-spinner mr-2 spinner"></i>Scheduler Running</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Job" asp-action="StartEquipmentJob"><i class="fas fa-play-circle mr-2"></i> Trigger Scheduler</a>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="td-name">Loan Scheduler</td>
                            <td class="td-name">No description provided.</td>
                            <td class="td-name">
                                @if (!(await AuthorizationService.AuthorizeAsync(User, "RunJobSchedulerPolicy")).Succeeded)
                                {
                                    if (Model.JobRunningStatuses.IsLoanJobRunning)
                                    {
                                        <a class="btn btn-primary text-white disabled"><i class="fas fa-play-circle mr-2"></i> Trigger Scheduler</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary disabled" href="#"><i class="fas fa-spinner mr-2 spinner"></i>Scheduler Running</a>
                                    }

                                    <p class="m-0">You do not have permission to interact with this scheduler. Please, speak to an Admin.</p>
                                }
                                else
                                {
                                    @if (Model.JobRunningStatuses.IsLoanJobRunning)
                                    {
                                        <a class="btn btn-primary disabled" href="#"><i class="fas fa-spinner mr-2 spinner"></i>Scheduler Running</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Job" asp-action="StartLoanJob"><i class="fas fa-play-circle mr-2"></i>Trigger Scheduler</a>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="td-name">Email Scheduler</td>
                            <td class="td-name">No description provided.</td>
                            <td class="td-name">
                                @if (!(await AuthorizationService.AuthorizeAsync(User, "RunJobSchedulerPolicy")).Succeeded)
                                {
                                    if (Model.JobRunningStatuses.IsEmailJobRunning)
                                    {
                                        <a class="btn btn-primary text-white disabled"><i class="fas fa-play-circle mr-2"></i> Trigger Scheduler</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary disabled" href="#"><i class="fas fa-spinner mr-2 spinner"></i>Scheduler Running</a>
                                    }

                                    <p class="m-0">You do not have permission to interact with this scheduler. Please, speak to an Admin.</p>
                                }
                                else
                                {
                                    @if (Model.JobRunningStatuses.IsEmailJobRunning)
                                    {
                                        <a class="btn btn-primary disabled" href="#"><i class="fas fa-spinner mr-2 spinner"></i>Scheduler Running</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Job" asp-action="StartEmailJob"><i class="fas fa-play-circle mr-2"></i>Trigger Scheduler</a>
                                    }
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#navItemAdmin').addClass('active');
            $('#navCollapseAdmin').addClass('show');
            $('#navItemJobs').addClass('active');
        });
    </script>
    <partial name="Components/_NotificationSnippet" />
}