@model ELMS.WEB.Areas.Loan.Models.ForceCompleteLoanViewModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><strong>Force complete loan</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>You are making an irreversible change to complete a loan manually.</div>
        <ul class="list-group rounded-0 mt-3">
            <li class="list-group-item border my-1"><strong>Loanee Email: </strong><span>@Model.LoaneeEmail</span></li>
            <li class="list-group-item border my-1"><strong>Loan Period: </strong><span>@Model.StartTimestamp to @Model.ExpiryTimestamp</span></li>
            <li class="list-group-item border my-1"><a target="_blank" asp-area="Loan" asp-controller="Loan" asp-action="DetailsView" asp-route-uid="@Model.UID">View more details of the loan</a></li>
        </ul>
    </div>
    <div class="modal-footer">
        <form id="formForceCompleteLoan" asp-area="Loan" asp-controller="Loan" asp-action="ForceComplete">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="UID" />
            <button type="submit" class="btn border border-danger btn-danger">Yes, I want to manually complete the loan</button>
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
        </form>
    </div>
</div>