@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">
    <div class="row bg-dark">
        <div class="m-auto text-white text-center">
            <div class="m-5">
                <h1 class="display-2"><strong>AIM LAB</strong></h1>
                <h2 class="display-4 text-center">Equipment and Loan Management System</h2>
                <p>A simple management system for managing and tracking lab equipment and loans.</p>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="mb-4">
                    <a class="btn btn-white btn-round text-dark mx-2" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    <a class="btn btn-white btn-round text-dark mx-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="row justify-content-center m-auto text-center">
            <div class="mt-5">
                <h1 class="display-3"><strong>Services</strong></h1>
            </div>
            <div class="row justify-content-center col-sm-12">
                <div class="card m-3 col-sm-5 col-md-2">
                    <div class="card-body">
                        <i class="fas fa-cubes fa-8x text-gray"></i>
                        <h3 class="card-title my-2"><strong>Equipment Management</strong></h3>
                        <p class="card-text">Manage and track lab equipment, ensuring stock information is always kept up-to-date for loaning and evergreening.</p>
                    </div>
                </div>
                <div class="card m-3 col-sm-5 col-md-2">
                    <div class="card-body">
                        <i class="fas fa-file-contract fa-8x text-gray"></i>
                        <h3 class="card-title my-2"><strong>Loan Management</strong></h3>
                        <p class="card-text">Keep a track of which equipment is out on loan, who to, and how long for. Track historic loans.</p>
                    </div>
                </div>
                <div class="card m-3 col-sm-5 col-md-2">
                    <div class="card-body">
                        <i class="fas fa-chart-area fa-8x text-gray"></i>
                        <h3 class="card-title my-2"><strong>Reports and Analytics</strong></h3>
                        <p class="card-text">View analytics about equipment on loan such as popular requested equipment and equipment valuations.</p>
                    </div>
                </div>
                <div class="card m-3 col-sm-5 col-md-2">
                    <div class="card-body">
                        <i class="fas fa-envelope fa-8x text-gray"></i>
                        <h3 class="card-title my-2"><strong>Automated Email System</strong></h3>
                        <p class="card-text">Create email templates, email schedules and automatically send emails for near-expired or overdue loans.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#navItemDashboard').addClass('active');
        });
    </script>
}